<!DOCTYPE html>

<head>
  <title>Dream Collector</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dream.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <img src="{{ url_for('static', filename='dream.png') }}" class="icon" />
  <h3>Dream Collector</h3>
  <form action="/" method="post">
    <input type="text" name="dream" placeholder="Whisper your dream" required />
    <input type="submit" value="Generate prompt" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
  {% if dream_list %}
  <h4>Previous dreams</h4>
  {% for dream in dream_list %}
  <p>"{{ dream }}"</p>
  {% endfor %}
  {% endif %}
</body>